.departuresList {
	list-style-type: none;
	border: 1px solid #f4f4f4;
	margin: 0;
	padding: 0;

	a {
		text-decoration: none;
		color: #000000;
	}

	li {
		padding: 20px;
		border-bottom: 1px solid #f4f4f4;
		transition: all 250ms ease-in-out;

		&:focus {
			border-left: 4px solid #004975;
			background-color: #d0f4ec;
			outline: none;
		}

		&:hover {
			cursor: pointer;
			background-color: #d0f4ec;
		}
	}

	.destination {

	}

	.platform {
		font-weight: bold;
	}
}

.onSchedule {
	color: #29823a;
}

.arrivalTime {
	font-weight: bold;
}
