.callingList {

	li {
		height: 70px;
		padding-top: 0;
		padding-bottom: 0;
		display: table;
		width: 100%;

		> div {
			display: table-cell;
			vertical-align: middle;
		}

		&:first-child {
			.callingLocation {
				&:before {
					top: 50%;
				}
			}
		}

		&:last-child {
			.callingLocation {
				&:before {
					top: -50%;
				}
			}
		}
	}

	.journey {
		text-align: center;
		margin-bottom: 20px;

		h1 {
			font-size: 1.5em;
			margin: 0px;
		}
	}

	.callingLocation {
		padding-left: 2rem;
		text-align: left;
		width: 70%;
		position: relative;
		&:before {
			content: '';
			width: 3px;
			border-right: 3px solid #f4f4f4;
			position: absolute;
			top: 0;
			left: -3px;
			height: 100%;
		}

		&:first-child {
			background-color: red;
		}
	}

	.scheduledTime {
		position: relative;
		width: 30%;
		padding: 1rem 3rem 1rem 1rem;
		text-align: right;

		&.active {
			&:after {
				background-color: #48d5b5;
			}
		}

		&:after {
			content: '';
		    width: 18px;
		    height: 18px;
		    border-radius: 50%;
		    position: absolute;
		    top: 50%;
		    right: -25px;
		    border: 3px solid #f4f4f4;
		    transform: translate3d(-50%, -50%, 0);
		    background-color: #ffffff;
			transition: all 250ms ease-in-out;
			z-index: 1;
		}
	}
}
